html,body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}


/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the navbar */
nav {
    background-color: #8f0d0f;
    color: #fff;
    padding: 10px 0;
}

.container {
    
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
    position: relative;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

/* Style the navigation links on hover */
.menu a:hover {
    text-decoration: none;
}

/* Style the dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #3c4b67;
    top: 100%;
    left: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style dropdown menu items */
.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

/* Style dropdown menu items on hover */
.dropdown-menu a:hover {
    background-color: rgb(225,170,37);
}

img{
    width: 1535px ;
    height: 200px;
    display: inline-block;
}
h1{
    text-decoration: solid;
    text-align: center;
}